.App{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #2C4A52;
}

h1{
  text-align: center;
  color: #fff;
}

.add_todo{
  display: flex;
  margin-bottom: 10px;
}

input{
  padding: 5px;
  border: none;
  flex-grow: 1;
}

button{
  padding: 5px 10px;
  background: #D09683;
  color: #fff;
  border: none;
  cursor: pointer;
}

.todo_list{
  list-style: none;
  padding: 0;
}

li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

li.completed{
  text-decoration: line-through;
  opacity: .5;
}

.tog_del button{
  background: #73605B;
  color: #fff;
  margin: 0 3px;
}